[submodule "ahc018"]
	path = ahc018
	url = https://github.com/a01sa01to/ahc018.git
[submodule "ahc019"]
	path = ahc019
	url = https://github.com/a01sa01to/ahc019.git
[submodule "ahc022"]
	path = ahc022
	url = https://github.com/a01sa01to/ahc022.git
[submodule "ahc023"]
	path = ahc023
	url = https://github.com/a01sa01to/ahc023.git
[submodule "ahc025"]
	path = ahc025
	url = https://github.com/a01sa01to/ahc025.git
[submodule "ahc027"]
	path = ahc027
	url = https://github.com/a01sa01to/ahc027.git
[submodule "ahc029"]
	path = ahc029
	url = https://github.com/a01sa01to/ahc029.git
[submodule "template"]
	path = template
	url = https://github.com/a01sa01to/marathon-template.git
